@charset "utf-8";
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
 font-family: LeeSeoyun;
}
.outer {
    display: flex;
}

.inner {
    width: 70%;
    margin: 0 auto;
}

.first {
    float: left;
    margin-top: 50px;
}

h2 {
    font-family: BMJUA;
}